<%-include('header')%>
<div class="user-home-container">
    <div class="user-home">
        <h1 class="text-white">WELCOME</h1>
    <h2 class="text-white">
        <%= username %>
    </h2>
    <a href="/user/logout" class="btn btn-danger">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    </div>
    
</div>